@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');


body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(rgba(13,15,26,0.85), rgba(13,15,26,0.85));
    font-family: 'Courier Prime', monospace;
}

.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url("images/background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    border-radius: 18px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.6);
}


.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}


.buttons img:nth-child(2){
    width: 80px;
}


